* {
    transition: background 1000ms in_out_cubic, color 500ms in_out_cubic;
}

Title {
    text-align: center;
    content-align: center middle;
    border: round grey;
}

Screen {
    background: $background;
    layers: base overlay;
    height: 100%;
}

Screen>Container {
    height: 100%;
    overflow-y: hidden;
}

/* TextLog elements */

TextLog {
    scrollbar-color: #e4c040;
    scrollbar-background: grey;
    scrollbar-color-active: grey;
    width: 100%;
    column-span: 6;
    row-span: 2;
}

/* Header elements */

Header {
    background: #e4c040;
    height: 10%;
    color: black;
    text-style: bold;
}

/* App Layout */

#app-grid {
    layout: grid;
    grid-size: 8 12;
    grid-columns: 1fr;
    grid-rows: 1fr;
    scrollbar-color:
}

/* Left Panel */

#left-pane {
    layout: vertical;
    height: 100%;
    row-span: 12;
    column-span: 2;
    background: $panel;
    border: grey;
    overflow: hidden;

}

#options {
    layout: vertical;
    height: 100%;
    border: #e4c040;
    background: $boost;
    column-span: 2;
    row-span: 2;
    content-align: center middle;
}

#options>Button {
    margin: 1;
    border: white;
    content-align: center middle;
    text-align: center;
}


/* Top */

#top {
    layout: grid;
    height: 100%;
    grid-size: 6 2;
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 1;
    background: $panel;
    column-span: 12;
    row-span: 6;
    border: grey;
}

/* Metrics */

Metrics {
    layout: vertical;
    height: 100%;
    border: #e4c040;
    background: $boost;
    column-span: 2;
    row-span: 2;
}


Metrics>Static {
    height: 50%;
    text-align: center;
    content-align: center middle;
}

/* Progress */

Progress {
    layout: vertical;
    height: 100%;
    border: #e4c040;
    background: $boost;
    column-span: 2;
    row-span: 2;

}

Progress>Static {
    height: 50%;
    text-align: center;
    content-align: center middle;
}

/* Saved Time */

SavedTime {
    layout: vertical;
    height: 100%;
    border: #e4c040;
    background: $boost;
    width: 100%;
    column-span: 3;
    row-span: 2;
}


SavedTime>Static {
    height: 50%;
    text-align: center;
    content-align: center middle;
}

/* DataTable */

DataTable {
    background: $surface;
    color: $text;
    scrollbar-color: #e4c040;
    scrollbar-background: grey;
    scrollbar-color-active: grey;
    width: 100%;
    column-span: 10;
    row-span: 4;
}

DataTable>.datatable--header {
    text-style: bold;
    background: #e4c040;
    color: $text;

}

DataTable>.datatable--fixed {
    text-style: bold;
    background: $primary;
    color: $text;
}

DataTable>.datatable--odd-row {
    background: black;
}

DataTable>.datatable--even-row {
    background: black;
}

DataTable>.datatable--cursor {
    background: grey;
    color: $text;
}

DataTable>.datatable--highlight {
    background: #e4c040 20%;
}

/* Sidebar elements */

Sidebar {
    width: 30;
    background: #e4c040;
    layer: overlay;
    transition: offset 500ms in_out_cubic;

}

Sidebar:focus-within {
    offset: 0 0 !important;
}

Sidebar.-hidden {
    offset-x: -100%;
}

Sidebar Title {
    background: #e4c040;
    color: black;
    border-right: vkey grey;
    dock: top;
    text-align: center;
    content-align: center middle;
    text-style: bold;
    height: 10%;
}

.SidebarLinks {
    link-color: black;
    link-style: none;
    link-hover-color: grey;
    link-hover-background: #e4c040;
    link-hover-style: bold;
    border-right: vkey grey;
    text-style: bold;
}

OptionGroup {
    background: $background;
    color: white;
    height: 1fr;
    border-right: vkey grey;
    padding: 1;
}


/* Footer elements */

Footer {
    background: #e4c040;
    color: $text;
    dock: bottom;
    height: 1;
    layout: vertical;
}

Footer>.footer--highlight {
    background: grey;
}

Footer>.footer--highlight-key {
    background: grey;
    text-style: bold;
}

Footer>.footer--key {
    text-style: bold;
    background: grey;
}